/Chapter-3/Ch03/nbproject/private/
/Chapter-3/Ch03/build/
/Chapter-3/JavaFXApplication2/nbproject/private/
/Chapter-3/JavaFXApplication2/build/
/Chapter-3/ch04/nbproject/private/
/Chapter-3/ch05/nbproject/private/
/Chapter-4/ch04/nbproject/private/
/Chapter-5/ch05/nbproject/private/
/Chapter-4/ch04/build/
/Chapter-5/ch05/build/
/Chapter-3/GameEx/nbproject/private/
/Chapter-3/GameEx/build/
/Chapter-3/ch06/nbproject/private/
/Chapter-3/ch07/nbproject/private/
/Chapter-3/ch06/build/
/ch07/build/
/ch08/nbproject/private/
/ch08/build/
/ch09/nbproject/private/
/ch09/build/
/ch10/nbproject/private/
/ch10/build/
/ch11/nbproject/private/
/ch11/build/
/CoreJavaEvidencePractice/nbproject/private/
/CoreJavaEvidencePractice/build/
/ch17/build/
/ch19/nbproject/private/
/ch19/build/
/ch20/nbproject/private/
/ch20/build/
/ch21/nbproject/private/
/ch21/build/
/topjal/nbproject/private/
/ch23-Sorting/nbproject/private/
/ch23-Sorting/build/
/ch24/nbproject/private/